.login-panel form{
  display:flex;
  flex-direction:column;
  margin:30px;
  max-width:340px;
  box-shadow:0px 0px 2px gray;
}
.login-panel form input, .login-panel form textarea{
  margin:20px;
  margin-top:0px;
  max-width:300px;
}
.login-panel form label{
  margin:12px;
  margin-bottom:0px;
  max-width:300px;
}

.login-panel button{
  border:none;
  margin:none;
  width:100%;
  height:2rem;
  box-shadow:0px 0px 2px gray;
}

.login-panel button:active{
  background-color:#bbb;
}