.notifications{
  width:100%;
}
.notifications > h1{
  text-align:center;
}
.notifications > div{
  margin:0px auto;
  max-width:400px;
  box-shadow: 0px 0px 2px gray;
  padding:10px 30px;
  background-color:#efefef;
}

.notification-plate{
  border-bottom:1px solid black;
}

.notification-plate>p{
  padding-left:5px;
}
.notifications > div :last-child{
  border-bottom:none;
}